*,
html,
body {
  margin: 0; /* Space from this element (entire page) and others*/
  padding: 0; /*space from content and border*/
  font-family: sans-serif !important;
  border: none;
}

.container {
  width: 315px;
  height: 580px;
  background-color: #f1ecec;
}

#header{
height: 10%;
}

.box_border {
  padding-bottom: 06px;
  /* background-color: #fff; */
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 0px;
}
.nav {
  float: right !important;
  padding: 5px 20px 0px 0px !important;
}

.navbar {
  height: 60px !important;
}

.navbar-inverse {
  background: linear-gradient(#0b1d3c, #206cbf) !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border: 0px solid !important;
}
.navbar-brand {
  padding: 0px 0px 0px 20px !important;
}

#content{
    background-color: white;
    height: 75%;
    margin: 10px;
    /* border: 1px solid black; */
}
#blocked-url-items{
    padding: 10px;
}
#btn-back{
    background-color: #afcff0;
    margin-left: 20px;
    padding: 10px;
    font-size: large;
    color: white;
}
#head-adurl-blocked{
  /* margin: 10px; */
  color:#7b9cd5;
}

#adurl-blocked-getMe,#adurl-blocked-analytics,#adurl-blocked-socialmedia{
  margin: 20px;
}

#dynamic-blocked-url-items {
  height: 90%;
  width: 100%;  
  overflow-y: auto;
}