html,
body {
  margin: 0; /* Space from this element (entire page) and others*/
  padding: 0; /*space from content and border*/
  font-family: sans-serif !important;
  border: none;
}

a{
    text-decoration: none;
}

